/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  list-style: none;
  text-decoration: none;
  color: white;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

.d-none {
  display: none;
}

/* ____sidebar____ */
.sidebar {
  display: flex;
  flex-direction: column;
  z-index: 1;

  width: 50px;
  height: 100%;

  background-color: #000000;
}

.upper-sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 12px;
}

.spotify-logo {
  width: 80%;
  margin-bottom: 20px;
}

.spotify-logo > a {
  padding-right: 10px;
}

.upper-side-logo {
  display: flex;
  flex-direction: column;

  padding-bottom: 30px;
}

.upper-side-logo span {
  color: gray;
}
.upper-side-logo span:hover {
  color: white;
}

.icon {
  border-left: 2px solid transparent;
  padding-left: 3px;
}

.icon:hover {
  border-left: 2px solid lime;
}

.add-playlist {
  display: flex;
  align-items: center;

  padding: 10px 0;
}

.add-playlist-button {
  text-align: center;

  height: 35px;
  width: 35px;
  font-size: 2rem;
  margin-right: 5px;
  background-color: gray;
  display: none;
}

.add-playlist:hover span,
.add-playlist:hover li {
  color: white;
}
.add-playlist:hover .add-playlist-button {
  background-color: white;
}

.add-playlist:hover .plus {
  color: gray;
}

.library-playlist {
  color: white;
}

.library-playlist > ul li {
  list-style: none;
  color: gray;

  padding: 8px 0;
}

.playlist a:hover li {
  color: white;
}

.lower-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 12px;
}

.download-icon {
  display: flex;
  justify-content: center;
}

.download-icon img {
  height: 15px;
}

.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.profile-icon img {
  background-color: gray;
  padding: 5px;
  border-radius: 50%;
}

.profile-icon > span {
  padding-left: 10px;
}

.download-icon {
  margin-bottom: 8px;
}

.download-icon > span {
  margin-left: 8px;
}

/* ____main____ */
.main {
  display: flex;
  height: calc(100vh - 90px);

  z-index: 1;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;

  background-color: #080b12;
  color: white;
  padding: 20px;
}

.upgrade-container {
  height: 50px;
  width: 230px;
  text-align: center;
}

.header a .upgrade {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 230px;

  border-radius: 30px;
  border: 1px solid white;
}

.upgrade-hover {
  padding-top: 13px;

  height: 50px;
  width: 230px;

  border-radius: 30px;
  border: 2px solid white;
  font-weight: bold;
}

.header .upgrade-hover {
  display: none;
}

.upgrade-container:hover .upgrade {
  display: none;
}

.upgrade-container:hover .upgrade-hover {
  display: block;
}

.main-content {
  height: 100%;
  width: calc(100% - 50px);
  background-color: lightgray;
}

.header {
  height: 90px;
}

/* content */

.nav {
  color: #74767c;
  font-size: 0.8rem;
  text-align: center;
}

.nav li {
  display: inline-block;
  padding: 20px 10px;
}

.nav li a {
  color: gray;
}

/* ------ nav hover ------- */

.nav li:hover a {
  color: white;
}

/* ------------------------ */

.content {
  background-color: #141922;
  height: calc(100vh - 180px);

  overflow-y: auto;

  /* debug */
  /* min-height: 100px; */
}

.content h2 {
  padding-bottom: 30px;
  padding-left: 30px;
}

.created-subtitle {
  display: block;
  margin-bottom: 30px;
  padding-left: 30px;
  font-size: 0.8rem;
}

.content h2,
.content h3 {
  color: white;
}

.recently-container,
.create-for-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  /* display: flex;
  flex-direction: column; */
  margin: 0 15px 0 20px;
  width: 180px;

  text-align: center;
}

.card h3 {
  font-size: 0.8rem;
}

.content span {
  color: #74767c;
}

.content img {
  height: 180px;
}

/* ____footer____ */

footer {
  height: 90px;

  color: white;
  background-color: #282828;
  z-index: 2;
}

.footer {
  display: flex;

  justify-content: space-between;

  padding: 0 10px;
  height: 100%;
}

/* left footer */

.left-footer {
  display: flex;
  align-items: center;
  width: 33%;

  gap: 1rem;
}

.trakc-image img {
  height: 50px;
}

.info-track span {
  font-size: 0.6rem;
  display: block;
}

.info-track span:first-child {
  font-weight: bold;
  font-size: 0.8rem;
}

.button-track i {
  color: gray;
  display: block;
  padding: 0 0 2px 5px;
}

/* center footer */

.center-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.fa-circle-play {
  padding: 0 10px;
}

.fa-backward-step,
.fa-forward-step {
  padding: 8px;
}

.progress-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.progress-bar {
  display: flex;
  flex-grow: 1;
  height: 3px;
  background-color: gray;
  border-radius: 2px;

  min-width: 50px;
  margin: 0 10px;
}

.progress {
  height: 100%;
  width: 20%;
  background-color: white;
  border-radius: 2px;
}

/* right footer */

.right-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33%;
}

.right-footer * {
  margin: 0 5px;
}

.sound-bar {
  height: 2px;
  min-width: 50px;
  background-color: gray;
}

.progress-sound {
  height: 100%;
  width: 30%;
  background-color: white;
  margin: 0;
}

.right-footer .fa-solid {
  font-size: 0.8rem;
}

/* ********** responsive *********** */
/* extra small */
@media screen and (min-width: 576px) {
  .d-none {
    display: block;
  }

  .sidebar {
    width: 250px;
    height: 100%;
  }

  .spotify-logo img:first-child {
    display: none;
  }

  .icon {
    display: flex;
    align-items: center;
  }

  .icon img {
    width: 20px;
    margin: 3px 10px 3px 0;
  }

  .spotify-logo {
    padding-bottom: 15px;
  }

  .ico-spotify {
    width: 40px;
  }

  .profile-icon img {
    width: 25px;
    height: 25px;
  }

  .right-footer .fa-solid {
    font-size: 1rem;
  }

  .button-track i {
    display: inline;
  }
}

/* small */
@media screen and (min-width: 768px) {
}

/* medium */
@media screen and (min-width: 992px) {
}

/* large */
@media screen and (min-width: 1200px) {
}
