/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  list-style: none;
  text-decoration: none;
  color: white;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

.d-none {
  display: none;
}

/* ____sidebar____ */
.sidebar {
  display: flex;
  flex-direction: column;
  z-index: 1;

  width: 50px;
  height: 100%;

  background-color: lightcoral;
}

.upper-sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 12px;
}

.spotify-logo {
  display: flex;

  align-items: center;
  padding-bottom: 10px;

  color: white;
}

.spotify-logo > a {
  padding-right: 10px;
}

.upper-side-logo {
  display: flex;
  flex-direction: column;

  padding-bottom: 30px;
}

.add-playlist {
  display: flex;
  align-items: center;

  padding: 5px 0;
}

.add-playlist-button {
  text-align: center;

  height: 35px;
  width: 35px;
  font-size: 2rem;
  margin-right: 5px;
  background-color: lightgray;
  display: none;
}

.library-playlist {
  color: white;
}

.library-playlist > ul li {
  list-style: none;
  color: lightgray;

  padding: 6px 0;
}

.lower-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 12px;
}

.download-icon {
  display: flex;
  justify-content: center;
}

.download-icon img {
  height: 15px;
}

.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.profile-icon img {
  background-color: lightgray;
  padding: 5px;
  border-radius: 50%;
}

.profile-icon > span {
  padding-left: 10px;
}

.download-icon {
  margin-bottom: 8px;
}

.download-icon > span {
  margin-left: 8px;
}

/* ____main____ */
.main {
  display: flex;
  height: calc(100vh - 90px);

  z-index: 1;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;

  background-color: #080b12;
  color: white;
  padding: 20px;
}

.upgrade {
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid white;
}

.main-content {
  height: 100%;
  width: calc(100% - 50px);
  background-color: lightgray;
}

.header {
  height: 90px;
}

/* content */

.nav {
  color: #74767c;
  font-size: 0.8rem;
  text-align: center;
}

.nav li {
  display: inline-block;
  padding: 20px 10px;
}

.content {
  background-color: #141922;
  height: calc(100vh - 180px);

  overflow-y: auto;

  /* debug */
  /* min-height: 100px; */
}

.content h2,
.content h3 {
  color: white;
}

.card {
  /* display: flex;
  flex-direction: column; */
  margin: 0 30px;
  width: 180px;
  height: 50%;

  text-align: center;
}

.playlist-recently {
  /* height: calc(100vh - 90px); */
}

.playlist-recently h2 {
  padding-bottom: 30px;
  padding-left: 30px;
}

.recently-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  width: 100%;
}

.content span {
  color: #74767c;
}

.playlist-recently img {
  height: 180px;
}

/* footer */

footer {
  height: 90px;
}

/* debug  */
.main {
  background-color: lightskyblue;
}

footer {
  background-color: aqua;
}

/* ____footer____ */

.footer {
  z-index: 2;
}

/* ********** responsive *********** */
/* extra small */
@media screen and (min-width: 576px) {
  .d-none {
    display: block;
  }

  .sidebar {
    width: 250px;
    height: 100%;
  }

  .icon {
    display: flex;
    align-items: center;
  }

  .icon img {
    width: 20px;
    margin: 3px 10px 3px 0;
  }

  .spotify-logo {
    padding-bottom: 15px;
  }

  .ico-spotify {
    width: 40px;
  }

  .profile-icon img {
    width: 25px;
    height: 25px;
  }
}

/* small */
@media screen and (min-width: 768px) {
}

/* medium */
@media screen and (min-width: 992px) {
}

/* large */
@media screen and (min-width: 1200px) {
}
