/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  list-style: none;
  text-decoration: none;
  color: white;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

.d-none {
  display: none;
}

/* ____sidebar____ */
.sidebar {
  display: flex;
  flex-direction: column;
  z-index: 1;

  width: 50px;
  height: calc(100vh - 90px);

  overflow-y: auto;

  background-color: #000000;
}

.upper-sidebar {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;
  padding: 12px;
}

.spotify-logo {
  width: 30px;
  margin-bottom: 20px;
}

.spotify-logo > a {
  padding-right: 10px;
}

.upper-side-logo {
  display: flex;
  flex-direction: column;

  padding-bottom: 30px;
}

.upper-side-logo span {
  color: gray;
}
.upper-side-logo span:hover {
  color: white;
}

.icon {
  width: 30px;
  margin-bottom: 10px;
}

.add-playlist {
  display: flex;
  align-items: center;

  padding: 10px 0;
}

.upper-side-logo {
  width: 100%;
}

.add-playlist-button i {
  color: #000000;
}

.add-playlist-button {
  text-align: center;

  padding: 3px;
  font-size: 2rem;
  margin-right: 5px;
  background-color: gray;
  display: none;
  line-height: 100%;
}

.add-playlist:hover span,
.add-playlist:hover li {
  color: white;
}
.add-playlist:hover .add-playlist-button {
  background-color: white;
}

.add-playlist:hover .plus {
  color: gray;
}

.library-playlist {
  color: white;
}

.library-playlist > ul li {
  list-style: none;
  color: gray;

  padding: 8px 0;
}

.playlist a:hover li {
  color: white;
}

.lower-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 12px;
}

.download-icon {
  display: flex;
  justify-content: center;
}

.download-icon img {
  height: 15px;
}

.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.profile-icon img {
  background-color: gray;
  padding: 5px;
  border-radius: 50%;
}

.profile-icon > span {
  padding-left: 10px;
}

.download-icon {
  margin-bottom: 8px;
  color: gray;
}

.download-icon:hover {
  color: white;
}

.download-icon > span {
  margin-left: 8px;
}

/* ____main____ */
.main {
  display: flex;
  height: calc(100vh - 90px);

  z-index: 1;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;

  background-color: #080b12;
  color: white;
  padding: 20px;
}

.upgrade-container {
  height: 50px;
  width: 230px;
  text-align: center;
}

.header a .upgrade {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 230px;

  border-radius: 30px;
  border: 1px solid white;
}

.upgrade-hover {
  display: none;

  padding-top: 13px;

  height: 50px;
  width: 230px;

  border-radius: 30px;
  border: 2px solid white;
  font-weight: bold;
}

.upgrade-container:hover .upgrade {
  display: none;
}

.upgrade-container:hover .upgrade-hover {
  display: block;
}

.main-content {
  height: 100%;
  width: calc(100% - 50px);
  background-color: lightgray;
}

.header {
  height: 90px;
}

/* content */

.nav {
  color: #74767c;
  font-size: 0.8rem;
  text-align: center;
}

.nav li {
  display: inline-block;
  padding: 20px 10px;
}

.underscore {
  width: 60%;
  margin: auto;
  margin-top: 2px;

  border: 2px solid transparent;
}

.nav li a {
  color: gray;
}

/* ------ nav hover ------- */

.nav li:hover a {
  color: white;
}

.b-uno:hover .underscore,
.b-due:hover .underscore,
.b-tre:hover .underscore,
.b-quattro:hover .underscore,
.b-cinque:hover .underscore,
.b-sei:hover .underscore {
  border-color: lime;
}

/* ---------- CONTENT -------------- */

.content {
  background-color: #141922;
  height: calc(100vh - 180px);

  overflow-y: auto;
}

.content h2 {
  padding-bottom: 30px;
  padding-left: 30px;
}

.created-subtitle {
  display: block;
  margin-bottom: 30px;
  padding-left: 30px;
  font-size: 0.8rem;
}

.content h2,
.content h3 {
  color: white;
}

.recently-container {
  margin: 0 20px;
  justify-content: center;
  gap: 1rem;
}

.recently-container,
.create-for-container {
  display: flex;
  flex-wrap: wrap;
}

.recently-section-uno,
.recently-section-due,
.recently-section-tre {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;
  gap: 1rem;
  justify-content: space-around;
  flex-grow: 1;
}

.recently-section-uno .card,
.recently-section-due .card,
.recently-section-tre .card {
  margin-right: 20px;
}

.recently-container .card {
  position: relative;
  height: 180px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 280px;
}

.create-for-container {
  display: flex;
  gap: 3rem;
  margin: 0 20px;
  margin-bottom: 80px;
  justify-content: center;
}

.card > .fa-circle-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -130%);

  color: white;
  font-size: 4rem;

  display: none;
}

.card:hover > .fa-circle-play {
  padding-bottom: 0.3rem;
}

.card:hover .fa-circle-play {
  display: block;
  font-size: 4rem;
}

.recently-container .card:hover img {
  opacity: 0.4;
}

.card {
  max-width: 180px;
  min-width: 100px;

  margin-bottom: 30px;

  text-align: center;
}

.card h3 {
  font-size: 0.8rem;
}

.content span {
  color: #74767c;
}

.content img {
  height: 180px;
  margin-bottom: 10px;
}

.popular-artist img {
  border-radius: 50%;
}

.playlist-recently,
.created-for,
.created-for {
  padding-bottom: 50px;
}

/* footer */

/* ____ footer d-none ____ */

.left-footer *,
.right-footer * {
  display: none;
}

/* _______________________ */

footer {
  height: 90px;

  color: white;
  background-color: #282828;
  z-index: 2;
}

.footer {
  display: flex;

  justify-content: space-between;

  padding: 0 10px;
  height: 100%;
}

/* left footer */

.left-footer {
  display: flex;
  align-items: center;
  width: 33%;

  gap: 1rem;
}

.trakc-image img {
  height: 50px;
}

.info-track span a {
  color: gray;
}
.info-track span a:hover {
  color: white;
  text-decoration: underline;
}

.info-track span {
  font-size: 0.6rem;
  display: block;
}

.info-track span:first-child {
  font-weight: bold;
  font-size: 0.8rem;
}

.button-track i {
  color: gray;
  display: block;
  padding: 0 0 2px 5px;
}

.button-track > i:nth-child(2):hover,
.button-track > i:first-child:hover {
  color: white;
}

/* center footer */

.center-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.commands {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0.3rem;
}

.fa-circle-play {
  padding: 0 10px;
  font-size: 2rem;
  padding-bottom: 0.3rem;
}
.fa-circle-play:hover {
  font-size: 2.3rem;
  padding-bottom: 0;
}

.fa-backward-step,
.fa-forward-step {
  padding: 8px;
}

.progress-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  width: 100%;
}

.progress-bar {
  position: relative;

  display: flex;
  flex-grow: 1;
  height: 3px;
  background-color: gray;
  border-radius: 2px;

  min-width: 50px;
  margin: 0 10px;
}

.progress {
  height: 100%;
  width: 20%;
  background-color: white;
  border-radius: 2px;
}

.progress-bar:hover .progress::after {
  content: "";
  position: absolute;
  left: 20%;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;

  transform: translate(-50%, -50%);
}

.progress-bar:hover .progress {
  background-color: lime;
}

/* right footer */

.right-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33%;
}

.right-footer * {
  margin: 0 5px;
}

.sound-bar {
  height: 2px;
  min-width: 50px;
  background-color: gray;
  cursor: pointer;
}

.progress-sound {
  position: relative;
  height: 100%;
  width: 30%;
  background-color: white;
  margin: 0;
}

.sound-bar:hover .progress-sound:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(30%, -50%);
}

.sound-bar:hover .progress-sound {
  background-color: lime;
}

.right-footer .fa-solid {
  font-size: 0.8rem;
}

/* ********** RESPONSIVE *********** */

/* extra small ******************/
@media screen and (min-width: 576px) {
  .d-none {
    display: block;
  }

  .left-footer *,
  .right-footer * {
    display: block;
  }

  .sidebar {
    width: 250px;
    height: 100%;
  }

  .spotify-logo img:first-child {
    display: none;
  }

  .spotify-logo {
    width: 150px;
  }

  .upper-side-logo {
    width: 100%;
  }

  .spotify-logo {
    padding-bottom: 15px;
  }

  .ico-spotify {
    width: 40px;
  }

  .icon {
    width: 30px;
    display: flex;
    align-items: center;
    border-left: 2px solid transparent;
    padding-left: 3px;
  }

  .icon:hover {
    border-left: 2px solid lime;
  }

  .icon img {
    width: 20px;
    margin: 3px 10px 3px 0;
  }

  .lower-sidebar {
    align-items: flex-start;
  }

  .profile-icon img {
    width: 25px;
    height: 25px;
  }

  /* main */

  /* footer */

  .right-footer .fa-solid {
    font-size: 1rem;
  }

  .button-track i {
    display: inline;
  }

  .commands {
    gap: 1rem;
  }
}

/* small *************************/

/* @media screen and (max-width: 767px) {
} */

@media screen and (min-width: 768px) {
  .playlist-recently {
  }

  .recently-container,
  .create-for-container {
    display: flex;
    flex-wrap: wrap;
  }

  .recently-container {
    justify-content: center;
  }

  .create-for-container {
    justify-content: flex-start;
  }

  .recently-section-uno,
  .recently-section-due,
  .recently-section-tre {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 80px;
  }

  .recently-container .card {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 280px;
  }
}

/* medium */
@media screen and (min-width: 1024px) {
  .recently-container,
  .create-for-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .recently-container {
    justify-content: flex-start;
  }

  .recently-section-uno,
  .recently-section-due,
  .recently-section-tre {
    justify-content: space-around;
    flex-grow: 1;
    max-width: 50%;
  }
}

/* large */
@media screen and (min-width: 1200px) {
}
